[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "==0.30.5"
fastapi = "==0.112.0"
jinja2 = "==3.1.4"
sqlalchemy = "==2.0.32"
sqlalchemy-utils = "==0.41.2"
elasticsearch = "*"
cloud-sql-python-connector = {extras = ["pg8000"], version = "*"}
pg8000 = "*"
python-dotenv = "*"

[dev-packages]
psycopg2 = "==2.9.9"
pytest = "==8.3.2"
httpx = "==0.27.0"

[requires]
python_version = "3.10"
